<div class="card">
    <div class="card-body">
        <h2 class="card-title p-5 bg-light"><%= user.name %></h5>
        <h4 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
        <p class="lead">Created on: <%= user.date.toDateString()%></p>
    </div>
</div>