img {
	width: 30%;
	float: left;
	margin: 1.666666666666666%;
}
p {
	font-family: Staatliches;
	margin-left: 1.66666666666666%;
	font-size: 2em;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(100,236,144,0.2);
	width:30%;
	padding-bottom: 20px;
}